<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Driver List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
          
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of drivers | async">
            <td>{{driver.firstName}}</td>
            <td>{{driver.lastName}}</td>
            
            <td><button (click)="deleteDriver(driver.id)" class="btn btn-danger">Delete</button>
                <button (click)="driverDetails(driver.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateDriver(driver.id)" class="btn btn-danger">Update</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>